@keyframes rotate {
    50% {
        transform: rotate(360deg);
    }
}

.btn {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: .3s;

    &-call {
        background: url(./../images/call.png) no-repeat center center;
        &:hover {
            transform: scale(1.08);
        }
    }
    &-messages {
        background: url(../images/chat.png) no-repeat center center;
        &:hover {
            transform: scale(1.08);
        }
    }
    &-user {
        background: url(../images/profile.png) no-repeat center center;
        &:hover {
            transform: scale(1.08);
        }
    }
    &-settings {
        background: url(../images/repair.png) no-repeat center center;
    }
    &-checkstatus {
        background: url(../images/checkstatus.png) no-repeat center center;
    }
    &-search {
        background: url(../images/search.png) no-repeat center center;

        &:hover {
            transform: scale(1.08);
        }
    }
    &-menu {
        background: url(../images/burger.png) no-repeat center center;
    }
    &-close {
        //background: url(../images/burger-close.png) no-repeat center center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background: #ff3d77 url(../images/burger-close-transp.png) no-repeat center center;
        transition: 0.2s;

        &:hover {
            animation-name: rotate;
            animation-duration: 1s;
        }
    }
    &-go {
        background: url(../images/go.png) no-repeat center center;
    }

    &-with_text {
        width: 173px;
        background-position: right 50%;
    }
}
