.header {
  $this: &;

  @media (min-width: 1119px) {
    padding-top: 42px;
    padding-bottom: 16px;

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #f8f8f8;
    gap: 24px;

    .btn {
        &:nth-child(-n+3) {
        display: none;

        @media (min-width: 767px) {
          display: flex;
        }
      }
      &:nth-child(3) {
        position: relative;
        margin-right: 20px;

        &:before {
          content: "";
          position: absolute;
          width: 2px;
          height: 32px;
          background-color: #eaeaea;
          top: 50%;
          transform: translateY(-50%);
          right: -20px;
        }
      }
    }

    @media (min-width: 360px) {
      align-items: normal;
    }

    @media (min-width: 1119px) {
      display: none;
    }

    #{$this}__top {
      background: #fff;
      border-bottom: 1px solid #d9fff5;
    }

    #{$this}__left {
      .btn {
        display: flex;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  img {
    cursor: pointer;
    width: auto;
  }

  &__left, &__right {
    display: flex;
    gap: 16px;
    align-items: center;

    @media (min-width: 1119px) {
      gap: 28px;
    }
  }

  &__desctop {
    display: none;
    .title {
      left: -32px;
    }

    .title__descr {
      padding-left: 32px;
    }

    @media (min-width: 1119px) {
      display: flex;
      padding: 0 32px;
      justify-content: space-between;
    }
  }
}


  span {
    color: #1b1c21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    -webkit-text-stroke-width: 0.2px;
  }

