.header {
  $this: &;

  @media (min-width: 1119px) {
    padding-top: 42px;
    padding-bottom: 16px;

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #f8f8f8;
    gap: 24px;


    @media (min-width: 360px) {
      align-items: normal;
    }

    @media (min-width: 1119px) {
      display: none;
    }

    #{$this}__top {
      background: #fff;
      border-bottom: 1px solid #d9fff5;
      background: url(./../images/divider.png) center right 128px no-repeat, #fff;

      @media (min-width: 767px) {
        background: url(./../images/divider.png) center right 128px no-repeat,url(./../images/divider.png) center left 76px no-repeat,#fff;
      }
    }

    #{$this}__left {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      @media (min-width: 767px) {
        gap: 40px;
      }

      .btn {
        display: flex;
      }
    }
  }

  &__btns {
    display: flex;
    padding-right: 0;
    gap: 16px;
    min-height: 40px;
    @media (min-width: 767px) {
      padding-right: 20px;
    }

    .btn {
      display: none;
      @media (min-width: 767px) {
        display: flex;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  img {
    cursor: pointer;
    width: auto;
  }

  &__right {
    display: flex;
    gap: 16px;
    align-items: center;

    @media (min-width: 1119px) {
      gap: 28px;
    }
  }

  &__desctop {
    display: none;
    .title {
      left: -32px;
    }

    .title__descr {
      padding-left: 32px;
    }

    @media (min-width: 1119px) {
      display: flex;
      padding: 0 32px;
      justify-content: space-between;
    }
  }
}
