.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 3;
    /*position: fixed;*/

    background: #FFF;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.mobile-menu a {
    text-decoration: none;
}


.mobile-menu__header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    padding-top: 24px;
}

.mobile-menu__header .logo {
    width: 97px;
}

.logo a {
    display: flex;
}

.mobile-menu__header .btn-close {
    margin-right: 5px;
}

.mobile-menu__header .btn-search {
    margin-left: auto;
}


.mobile-menu__main {
    margin-top: 50px;
}

.mobile-menu__footer {
    padding: 24px;
    padding-bottom: 32px;
    margin-top: auto;
}
.mobile-menu__footer a {
    color: #1B1C21;
}

.mobile-menu__contacts {
    display: grid;
    align-items: center;
    /*grid-template-areas:"info rating";*/
    /*grid-template-columns: 1fr max-content;*/
    grid-template-columns: repeat(3, min-content);
    /*grid-template-rows: auto;*/
    row-gap: 16px;
    column-gap: 12px;
}

.mobile-menu__contacts .mail {
    grid-column: 1 / 3;

    /*grid-column-start: 1;*/
    /*grid-column-end: span col4-start;*/
    /*grid-row-start: 2;*/
    /*grid-row-end: span 2;*/
}

.mobile-menu__contacts .phone {
    /*grid-column: 1 / 4;*/
    grid-column-start: 1;
    grid-column-end: span col4-start;

    font-family: 'lakes_mybold';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
}

.lang {
    margin-top: 40px;
}
