.nav ul {
  display: flex;
  overflow-x: scroll;
  gap: 19px;
  position: relative;
  padding-left: 16px;

  &::-webkit-scrollbar {
    height: 1px;
    background-color: #f8f8f8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
  }
}

.nav li {
  list-style: none;
}
li a {
  text-decoration: unset;
  color: initial;
}
.nav li span {
  cursor: pointer;
}
.nav__item {
  min-width: max-content;
  padding: 8px 10px;
}
.nav__item span {
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.nav__item.active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background-color: white;
}
@media (min-width: 767px) {
  .nav {
    margin-top: 16px;
  }
}
@media (min-width: 1096px) {
  .nav::-webkit-scrollbar {
    /*display: none;*/
  }
}
@media (min-width: 1119px) {
  .nav__item {
    min-width: max-content;
    padding: 8px 18px;
    text-align: center;
  }
  .nav {
    margin-left: 0px;
    gap: 0px;
  }
  .nav__item span {
    text-align: center;
  }
  .nav ul {
    padding-left: 32px;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
