.text-media {
    display: flex;
    gap: 60px;
    flex-direction: column;

    @media (min-width: 767px) {
        flex-direction: row;
        gap: 36px;
    }

    @media (min-width: 1119px) {
        flex-direction: row;
    }

    &__content {
        flex: 1;
        align-self: self-start;
        position: relative;
    }

    &__text {
        height: 160px;
        overflow-y: hidden;
    }

    .read-more {
        position: absolute;
        bottom: -10px;
        transform: translate(0, 100%);
    }

    &__media {
        flex: 1;

        img {
            width: calc(100% + 32px);
            margin-left: -16px;

            @media (min-width: 360px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
